.loginfield{
    display: flex;
    
    max-width: 400px;
    min-width: 250px;
    margin: 10px 10px 10px 10px;
}
.logininput{
    position:relative;
    margin-right: 0;
    margin-left: auto;
    width:60%;
    min-width: 150px;
    height: 20px;
    font-size: 18px;
}
.logininputbig{
  position:relative;
  margin-right: 0;
  margin-left: auto;
  width:60%;
  min-width: 150px;
  height: 80px;
  text-align:justify;
  font-size: 18px;
}
.logintext{
    position:relative;
    margin-left: 0;
    line-height: 18px;
    font-size: 18px;
}

.logintitle{
	margin-top: 5px;
	margin-bottom: 30px;
	margin-left: 10px;
	font-size: 32px;
  font-weight: bold;
}
.login{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: right;
    max-width: 400px;
    min-width: 250px;

  }

.loginlink{
    background: #f5f5f5;
    border: #f5f5f5;
    font-size:22px;
    font-style: italic;
    text-decoration: none;
    color:black;
  }
  .loginlink:hover{
    color:rgb(49, 119, 81);
  }
  .errortext{
    position:relative;
    margin-left: 10px;
    margin-top: 30px;
    line-height: 20px;
    font-size: 18px;
    font-style: italic;
  }