.sidemenu {
     position: sticky;
    top: 70px; 
    border: 1px solid #333; 
    padding: 10px 10px 10px 10px;
    margin-right:10px;
    margin-bottom: 10px; 
    background: rgb(245, 245, 245);
    font-size: 20px;
    width: 130px;
    min-width: 130px;
    height: min-content;
    max-height: 200px;
    display: block;
}
  
.menu {
    display: block;
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
} 
.menu:hover {
    color: rgb(12, 214, 120);
}
 
.menu:before {
    content: "\25BA";
    font-size: 80%;
    display: inline-block;
    padding-right: 3px;
    pointer-events: none;    
}
 
.menu:hover:before {
    color: rgb(12, 214, 120);
}